
    #accordion .panel{
        border: none;
        border-radius: 0;
        box-shadow: none;
        /* margin: 0 30px 10px 30px;*/
        overflow: hidden;
        background: #145C51;
        position: relative;
        margin-bottom: -7px !important;
    }
    #accordion .panel-heading{
        padding: 0;
        border: none;
        background: #145C51;
        border-radius: 0;
        position: relative;
    }
    #accordion .panel-title a{
        display: block;
        padding: 8px 22px;
        margin: 0;
        background: #145C51;
        font-size: 14px;
        font-weight: 700;

        color: #fff;
        border-radius: 0;
        position: relative;
    }
   .upcoming_panel {
	background: #46555D !important;
}




    #accordion .panel-body{
        border: 3px solid #145C51;
        border-top: none;
        background: #fff;
        /* font-size: 15px; */
        color: #1c2336;
        line-height: 27px;
        position: relative;
        margin-top: -8px !important;
    }
    #accordion .panel-body-2{

        border-top: none;
        background: #AEB6BF;
        /* font-size: 15px; */
        color: #1c2336;
        line-height: 27px;
        position: relative;
        margin-top: -8px !important;
    }

    #accordion .panel-body p{
        padding: 10px;
    }
    //modal resize

@media (min-width: 768px) {
  .app.sidenav-toggled .app-content {
    margin-left: 230px;
  }
}
@media (max-width: 768px) {
  .app.sidenav-toggled .app-content {
    margin-left: 0px;
  }
}
.app-content {
  min-height: calc(100vh - 50px);
  margin-top: 50px;
  padding: 30px;
  background-color: #E5E5E5;
  -webkit-transition: margin-left 0.3s ease;
  -o-transition: margin-left 0.3s ease;
  transition: margin-left 0.3s ease;
}

@media (min-width: 768px) {
  .app-content {
    margin-left: 230px;
  }
}

@media (max-width: 768px) {
  .app-content {
    margin-top: 50px;
    min-width: 100%;
    margin-left: 0px;
  }
}

@media (max-width: 480px) {
  .app-content {
    padding: 15px;
    margin-left: 0px;
  }
}

@media print {
  .app-content {
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
}
